@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'idroid';
  font-style: normal;
  font-weight: normal;
  src: url(fontes/idroid.otf); 
}

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
 
}
main p{
  text-indent: 25px;
  margin: 10px 0;
}
strong{
  color: #1a5c37;
}
main a{
  text-decoration: none;
  color: #1a5c37;
}
main a::after{
  content: "🔗";
}

.cabecalho{
  background-image: linear-gradient(180deg, #2fa866 60%, #063d1e);
  padding: 10px;
  height: 150px;
  width: 100%;
}
.cabecalho h1{
  font-family: 'Bebas Neue', cursive;
}

nav li{
  display: inline;
  
}
nav a{
  text-decoration:none; 
  color: white;
  margin-right: 30px;
  margin-left: -20px;
  
}
nav a:hover{
  background-color: #1a5c37;
  padding: 10px;
  border-radius: 10px;
}


header{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
}
header p{
  margin: 10px 0;
}

.titulo-android{
  font-family: 'idroid', sans-serif;
  color: #1a5c37;
  margin: 10px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
  background-color: #3ddc8521;
  padding: 0 10px;
}
.titulo-android-principal{
  font-family: 'idroid', sans-serif;
  color: #063d1e;
  margin: 10px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.295);
}


body{
    background-color: #3ddc84;
}
main{
    min-width: 400px;
    max-width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 20px 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    
}


.foto-android{
  margin: 0 auto;
}
.video{
  background-color: #1a5c37;
  position: relative;
  height: 0;
  margin: 0 -20 -20 15;
  padding-bottom: 59%;
}

.video iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
h3{
  background-color: #2fa866;
  margin-top: 10px;
  padding: 10px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius:10px ;
}

ul{
  list-style-type:"\2714\002002";
  columns: 2;
  list-style-position: inside;
}
.lista{
  background-color: #c5ebd6;
  padding: 10px;
}
footer{
  background-color: #063d1e;
  text-align: center;
  color: white;
  margin-top: 10px;

}